.container-item {
  column-count: 4;
  column-gap: 20px;
  padding: 20px;
}

.item {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  img {
    height: auto;
    display: block;
    width: 100%;
    object-fit: cover;
  }
}
